/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "kanit light", sans-serif;
  src: url("../../fonts/kanit_light/kanit-light.woff2") format("woff2"), url("../../fonts/kanit_light/kanit-light.woff") format("woff"), url("../../fonts/kanit_light/kanit-light.otf") format("otf");
}
@font-face {
  font-family: "kanit medium", sans-serif;
  src: url("../../fonts/kanit_medium/kanit-medium.woff2") format("woff2"), url("../../fonts/kanit_medium/kanit-medium.woff") format("woff"), url("../../fonts/kanit_medium/kanit-medium.otf") format("otf");
}
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
html ul,
body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
html a,
body a {
  cursor: pointer;
}
html .wrapper,
body .wrapper {
  width: 1440px;
  height: auto;
}
html .header__body,
body .header__body {
  display: flex;
  padding: 3em 0;
}
html .header__title,
body .header__title {
  margin: 0 auto;
}
html .header__content,
body .header__content {
  padding: 6em;
}
html .menu-switch,
body .menu-switch {
  margin-left: 4em;
  position: relative;
}
html .menu-switch:hover > .nav,
body .menu-switch:hover > .nav {
  display: block;
}
html .title,
body .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  font-family: "kanit medium", sans-serif;
  color: #231F20;
}
html .title_i-style,
body .title_i-style {
  font-style: italic;
}
html .title_x-style,
body .title_x-style {
  font-family: "kanit medium", serif;
  font-weight: 100;
}
html .container,
body .container {
  background-color: #000000;
  display: flex;
}
html .left-image,
body .left-image {
  width: 50%;
}
html .right-content,
body .right-content {
  color: #FFFFFF;
  width: 50%;
}
html .right-content__date,
body .right-content__date {
  font-family: "kanit medium", sans-serif;
  font-font-size: 0.75em;
  letter-spacing: 0.375em;
  width: 8.5em;
  height: 1.3125em;
  display: inline-block;
  margin: 0;
}
html .right-content__footnote,
body .right-content__footnote {
  text-transform: uppercase;
  display: block;
  font-family: "kanit medium", sans-serif;
  font-size: 0.75em;
  color: #FFFFFF;
  display: inline-block;
  width: 4.6875em;
  height: 1.5em;
  float: right;
}
html .right-content__text,
body .right-content__text {
  font-family: "kanit light", sans-serif;
  font-size: 0.875em;
  margin: 4em 0;
  word-spacing: 0.5em;
  line-height: 2em;
}
html .right-content__title,
body .right-content__title {
  font-family: "kanit medium", sans-serif;
  font-weight: bold;
  font-size: 1.75em;
  text-transform: uppercase;
  margin-top: 3em;
}
html .btn,
body .btn {
  width: 12.375em;
  height: 3.4375em;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .btn__link,
body .btn__link {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
html .nav,
body .nav {
  display: none;
  position: absolute;
  width: 21.5em;
  height: 22.4375em;
  border: 1px solid #000000;
  box-shadow: 0 0.5em 1em 0 #1F1F1D;
  z-index: 1;
}
html .nav__body,
body .nav__body {
  padding: 2.5em 0;
}
html .nav__list-item,
body .nav__list-item {
  padding: 0.7em;
}
html .nav__list-item:hover,
body .nav__list-item:hover {
  background-color: gray;
}
html .nav__list-item:hover .nav__link,
body .nav__list-item:hover .nav__link {
  color: #FFFFFF;
}
html .nav__link,
body .nav__link {
  display: block;
  padding: 0 0 0 2.5em;
  font-family: "kanit medium", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  text-transform: capitalize;
}
html .main,
body .main {
  padding: 0 7em;
}
html .featured__article:nth-child(-n+2),
body .featured__article:nth-child(-n+2) {
  margin-right: 1.5em;
}
html .featured__article:last-child,
body .featured__article:last-child {
  margin-right: 0;
}
html .section-title,
body .section-title {
  text-transform: uppercase;
  font-family: "kanit medium", sans-serif;
  font-size: 1.125em;
  margin: 3em 0 1.5em 0;
}
html .body-double,
body .body-double {
  display: flex;
}
html .article,
body .article {
  width: 50%;
}
html .article__date,
body .article__date {
  float: left;
}
html .article__footnote,
body .article__footnote {
  float: right;
  margin: 1.4em 0;
}
html .article__title,
body .article__title {
  clear: both;
  margin: 3em 0 1.5em 0;
}
html .article__text,
body .article__text {
  margin: 2em 0 3em 0;
  line-height: 1.5em;
}
html .article .image,
body .article .image {
  width: 100%;
}
html .date,
body .date {
  font-family: "kanit medium", sans-serif;
  font-font-size: 0.75em;
  letter-spacing: 0.375em;
}
html .footnote,
body .footnote {
  text-transform: uppercase;
  display: block;
  font-family: "kanit medium", sans-serif;
  font-size: 0.75em;
}
html .body-triple,
body .body-triple {
  display: flex;
  justify-content: space-between;
}
html .btn-bottom,
body .btn-bottom {
  background-color: #303030;
  width: 14.75em;
  height: 2.625em;
  margin: 3em auto;
}
html .inter__image .full,
body .inter__image .full {
  height: 100%;
}
html .inter__content,
body .inter__content {
  display: flex;
  justify-content: center;
}
html .inter .content__body,
body .inter .content__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html .inter .content__text,
body .inter .content__text {
  text-transform: uppercase;
  text-align: start;
  font-family: "kanit meduim", sans-serif;
  font-weight: bold;
  font-size: 2.125em;
}
html .inter .btn-centralized,
body .inter .btn-centralized {
  margin-top: 1.5em;
}
html .interviews__article,
body .interviews__article {
  width: 50%;
}
html .interviews__article:nth-child(-n+2),
body .interviews__article:nth-child(-n+2) {
  margin-right: 1.5em;
}
html .news__article,
body .news__article {
  width: 50%;
}
html .news__article:nth-child(-n+2),
body .news__article:nth-child(-n+2) {
  margin-right: 1.5em;
}
html .footer,
body .footer {
  background-color: #000000;
}
html .footer__body,
body .footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .footer__title,
body .footer__title {
  color: #FFFFFF;
}
html .footer__copyright::first-letter,
body .footer__copyright::first-letter {
  text-transform: capitalize;
}
html .footer__copyright,
body .footer__copyright {
  color: #FFFFFF;
  margin-bottom: 0;
  font-family: "kanit light", sans-serif;
  font-size: 0.75em;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .header__body {
    display: block;
  }
  .header__container {
    width: 100%;
  }
  .left-image {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .article {
    width: 100%;
  }
  .body-double,
.body-triple {
    display: block;
  }
}