@font-face {
    font-family: 'kanit light', sans-serif;
    src: url('../../fonts/kanit_light/kanit-light.woff2') format('woff2'),
         url('../../fonts/kanit_light/kanit-light.woff') format('woff'),
         url('../../fonts/kanit_light/kanit-light.otf') format('otf');
}

@font-face {
    font-family: 'kanit medium', sans-serif;
    src: url('../../fonts/kanit_medium/kanit-medium.woff2') format('woff2'),
         url('../../fonts/kanit_medium/kanit-medium.woff') format('woff'),
         url('../../fonts/kanit_medium/kanit-medium.otf') format('otf');
}